menu "Logger"

config LOGGER_ENABLE
    bool "Enable logger"
    default y

config LOGGER_LEVEL
    int "Logger level (0=DEBUG,1=INFO,2=WARN,3=ERROR)"
    range 0 3
    default 0
    depends on LOGGER_ENABLE

config LOGGER_TAG
    string "Logger tag"
    default "APP"
    depends on LOGGER_ENABLE

endmenu
