# =========================
# ESP-IDF 构建与系统生成文件
# =========================
# 忽略整个 build 文件夹（极其重要，这里面全是临时编译文件和巨大的 .bin 固件）
build/
# 忽略 CMake 的临时文件
CMakeCache.txt
CMakeFiles/

# =========================
# SDK 配置文件
# =========================
# 忽略旧的配置备份
sdkconfig.old
# 忽略本地特化的临时配置（如果有的话）
sdkconfig.local

# =========================
# Mac / 操作系统临时文件
# =========================
# 极其烦人的 Mac 索引文件
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# =========================
# VS Code / 编辑器相关
# =========================
# 忽略 VS Code 自动生成的本地路径配置（因为换台电脑路径就变了）
.vscode/c_cpp_properties.json
# 如果你不想把 VS Code 的任何配置传到 Git，可以直接取消下一行的注释
# .vscode/

# 忽略其他编辑器的临时文件
*.swp
*.swo
*~
